// <div className="order-container">
//       <h1>Commande</h1>
//       <form onSubmit={handleSubmit}>
//         <h2>Informations</h2>
//         <div className="customer-infos">
//           <div className="details">
//             Prénom :{" "}
//             <input
//               type="text"
//               name="firstName"
//               placeholder="Prénom"
//               value={user.firstName}
//             />
//             Nom :{" "}
//             <input
//               type="text"
//               name="lastName"
//               placeholder="Nom"
//               value={user.lastName}
//             />
//             Entreprise:{" "}
//             <input
//               type="text"
//               name="company"
//               placeholder="Entreprise"
//               value={user.company}
//             />
//           </div>
//           <div className="contact">
//             Email :{" "}
//             <input
//               type="email"
//               name="email"
//               placeholder="Email"
//               value={user.email}
//             />
//             Téléphone :{" "}
//             <input
//               type="text"
//               name="phone"
//               placeholder="A renseigner"
//               // si la valeur phone est "non renseigné" alors on affiche un placeholer à renseigner
//               value={user.phone === "non renseigné" ? "" : user.phone}
//               onChange={handleChange}
//             />
//           </div>
//         </div>

//         <h2>Facturation & Livraison</h2>

//         <div className="address-details">
//           <div className="billing-address">
//             <p>Adresse de facturation : </p>
//             <input
//               type="text"
//               name="street"
//               placeholder="Numéro et Rue"
//               value={billingAddress.street}
//               onChange={(e) =>
//                 setBillingAddress({ ...billingAddress, street: e.target.value })
//               }
//             />
//             <input
//               type="text"
//               name="zip"
//               placeholder="Code Postal"
//               value={billingAddress.zip}
//               onChange={(e) =>
//                 setBillingAddress({ ...billingAddress, zip: e.target.value })
//               }
//             />
//             <input
//               type="text"
//               name="city"
//               placeholder="Ville"
//               value={billingAddress.city}
//               onChange={(e) =>
//                 setBillingAddress({ ...billingAddress, city: e.target.value })
//               }
//             />

//             <select
//               name="country"
//               value={billingAddress.country}
//               onChange={(e) =>
//                 setBillingAddress({
//                   ...billingAddress,
//                   country: e.target.value,
//                 })
//               }
//             >
//               <option value="">Sélectionnez votre pays</option>
//               <option value="france">France</option>
//               <option value="belgique">Belgique</option>
//               <option value="suisse">Suisse</option>
//               <option value="luxembourg">Luxembourg</option>
//             </select>

//             {/* input de type checkbox pour permettre à l'utilisateur de remplir les champs égal a la billingaddress  */}
//             <input
//               type="checkbox"
//               id="same-address"
//               name="same-address"
//               onChange={(e) => {
//                 if (e.target.checked) {
//                   setOrder((prev) => ({
//                     ...prev,
//                     deliveryAddress: { ...billingAddress },
//                   }));
//                 } else {
//                   setOrder((prev) => ({
//                     ...prev,
//                     deliveryAddress: {
//                       street: "",
//                       city: "",
//                       zip: "",
//                       country: "",
//                     },
//                   }));
//                 }
//               }}
//             />
//             <label htmlFor="same-address">Adresse de livraison identique</label>
//           </div>

//           <div className="delivery-address">
//             <p>Adresse de livraison : </p>
//             <input
//               type="text"
//               name="street"
//               placeholder="Numéro et Rue"
//               value={order.deliveryAddress.street}
//               onChange={handleChange}
//             />
//             <input
//               type="text"
//               name="zip"
//               placeholder="Code Postal"
//               value={order.deliveryAddress.zip}
//               onChange={handleChange}
//             />
//             <input
//               type="text"
//               name="city"
//               placeholder="Ville"
//               value={order.deliveryAddress.city}
//               onChange={handleChange}
//             />

//             <select
//               name="country"
//               value={order.deliveryAddress.country}
//               onChange={handleChange}
//             >
//               <option value="">Sélectionnez votre pays</option>
//               <option value="france">France</option>
//               <option value="belgique">Belgique</option>
//               <option value="suisse">Suisse</option>
//               <option value="luxembourg">Luxembourg</option>
//             </select>
//           </div>
//         </div>

//         <h2>Mode de livraison</h2>
//         <div className="delivery-options">
//           <select
//             name="deliveryMethod"
//             value={order.delivery.method}
//             onChange={handleChange}
//           >
//             <option value="">Sélectionnez le mode de livraison</option>
//             <option value="standard">Standard</option>
//             <option value="express">Express</option>
//           </select>
//         </div>

//         <h2>Moyen de paiement</h2>
//         <div className="payment-options">
//           <p>Sélectionnez votre moyen de paiement</p>

//           <select
//             name="paymentMethod"
//             value={order.payment.method}
//             onChange={handleChange}
//           >
//             <option value="">Sélectionnez le mode de paiement</option>
//             <option value="carte">Carte</option>
//             <option value="paypal">Paypal</option>
//             <option value="virement">Virement</option>
//           </select>
//         </div>

//         <button type="submit">Valider la commande</button>
//       </form>
//     </div>

.order-container {
  margin: 8rem 1rem 1rem 1rem;
  padding: 1rem;
  background-color: #4d4d4d3d;
  border-radius: 0.5rem;


  h1 {
    text-align: center;
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
  }

  h2 {
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
  }

  i {
    margin-left : 1rem;
    margin-right: 0.5rem;
    color: #88bdfe;
  }

  .customer-infos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid #808080;
    margin-bottom: 2rem;
    
    .details,.contact
{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 1rem;

      input {
        margin-bottom: 0.5rem;
        padding: 0.5rem;
        border: none;
        border-radius: 0.2rem;
        -webkit-border-radius: 0.2rem;
        -moz-border-radius: 0.2rem;
        -ms-border-radius: 0.2rem;
        -o-border-radius: 0.2rem;
      }
    }
  }

  .address-details {

    border-bottom: 1px solid #808080;
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    

    .billing-address,.delivery-address
{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 1rem;
      height: 100%;
      width: 50%;
      

      p {
        margin-bottom: 1rem;
        font-size: 1.1rem;
      }


      input {
        margin-bottom: 0.5rem;
        padding: 0.5rem;
        border: none;
        border-radius: 0.2rem;
        -webkit-border-radius: 0.2rem;
        -moz-border-radius: 0.2rem;
        -ms-border-radius: 0.2rem;
        -o-border-radius: 0.2rem;
      }

        select {
            margin-bottom: 0.5rem;
            padding: 0.5rem;
            border: none;
            border-radius: 0.2rem;
            -webkit-border-radius: 0.2rem;
            -moz-border-radius: 0.2rem;
            -ms-border-radius: 0.2rem;
            -o-border-radius: 0.2rem;
        }

      .same-address {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        font-size: 1.1rem;

        .checkbox {
            margin-right: 0.5rem;
            margin-top: 0.4rem;
            width: 1.1rem;
            height: 1.1rem;
        }
      

        label {
            margin-left: 0.5rem;
            font-size: 1.1rem;
        }
    }



    }
    }

    .deliveryAndPayment {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        
    }
   
  .delivery-options, .payment-options {

    
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;

    select {
      margin: 01rem;
      width: 80%;
      padding: 0.5rem;
      border: none;
      border-radius: 0.2rem;
      -webkit-border-radius: 0.2rem;
      -moz-border-radius: 0.2rem;
      -ms-border-radius: 0.2rem;
      -o-border-radius: 0.2rem;
    }
  }

button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    width: 100%;

    padding: 0.8rem;
    border: none;
    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
    background-color: #1179f7;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
    
   
    
    transition: 0.3s;
    &:hover {
        background-color: #3b90ff;
    }
}
    
 
  
}
