.admin-user-form {
  background-color: #2b2b2b;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: inline-block;
  width: 95%;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;

    label {
      margin-bottom: 4px;
      font-size: 1.2rem;
      font-weight: 600;
    }

    input {
      width: 60%;
      padding: 8px;
      margin-bottom: 16px;
      border: 1px solid #ccc;
      box-sizing: border-box;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
    }

    button {
      margin-top: 2rem;
      background-color: #007bff;
      color: #fff;
      width: 60%;
      height: 3rem;

      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    button:hover {
      background-color: #0056b3;
    }
  }
}
