.cgv-container {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  padding: 2rem;
  h1 {
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--sunset1);
  }

  h2 {
    font-size: 1.3rem;
    font-weight: 400;

    margin-top: 2rem;
  }

  p {
    font-size: 1.1rem;
    margin-top: 0.6rem;
    margin-bottom: 1rem;
    color: rgb(185, 185, 185);
  }
}
