// <div className="admin-orders">
// <h1>Commandes</h1>
// <table>
//     <thead>
//         <tr>
//             <th>Numéro de commande</th>
//             <th>Date</th>
//             <th>Client</th>
//             <th>Montant</th>
//             <th>Statut</th>
//             <th>Actions</th>
//         </tr>
//     </thead>
//     <tbody>
//         {orders.map((order) => (
//             <tr key={order._id}>
//                 <td>{order._id}</td>
//                 <td>{order.orderDate && new Date(order.orderDate).toLocaleDateString()}</td>
//                 <td> {users[order.user]?.company} ({users[order.user]?.lastName} {users[order.user]?.firstName}) </td>
//                 <td>{order.totalAmount.toFixed(2)} €</td>
//                 <td>{order.status}</td>
//                 <td>
//                     {/* Au clic sur "Détails", on appelle la fonction handleDetails avec l'ID de la commande */}
//                     <button onClick={() => handleDetails(order._id)}>Détails</button>
//                     <button>Modifier</button>
//                     <button>Supprimer</button>
//                 </td>
//             </tr>
//         ))}
//     </tbody>
// </table>

// {/* Le modal s'affiche seulement si selectedOrderId est défini */}
// {selectedOrderId && (
//     <AdminOrderModal 
//         order={orders.find(order => order._id === selectedOrderId)} 
//         user={users[orders.find(order => order._id === selectedOrderId)?.user]} 
//     />
// )}
// </div>




.admin-orders {

    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
    table {
        width: 80%;
        border-collapse: collapse;
        margin-bottom: 2rem;
        thead {
            background-color: rgb(69, 69, 69);
            color: white;
            th {
                padding: 1rem;
            }
        }
        tbody {
            tr {
                border-bottom: 1px solid rgb(69, 69, 69);
                td {
                    padding: 1rem;
                    text-align: center;

                    button {
                        padding: 0.5rem;
                        margin: 0.5rem;
                        background-color: rgb(69, 69, 69);
                        color: white;
                        border: none;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
