.col-3 {

    a {
        text-decoration: none;
        display: block;
        margin-bottom: 0.5rem;
        padding: 0.6rem;

        font-size: 1rem;
        font-weight: 400;
        transition: 0.3s;
        &:hover {
            background-color: #fff;
            color: #000;
        }
    }
}