.register-container {

  margin-top: 5rem;
  display: flex;
  height: 100vh;

  button {
    margin-top: 1rem;
    padding: 12px 30px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    display: block;
    border: 0px;
    font-weight: 500;
    box-shadow: 0px 0px 14px -7px #121e37;
    background-image: linear-gradient(45deg, #0651bb 0%, #009fe3  51%, #00438f  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    &:hover 
{
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  
  &:active {
    transform: scale(0.95);
  }
  
  
}

a {
  text-decoration: none;
}
  
 
.section-1 {

  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: var(--sunset1);
    text-transform: uppercase;
  }

  p {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 2.5rem;
    color: var(--sunset4);
  text-align: center;
  }


  form {
    
    display: flex;
    flex-direction: column;
    width: 60%;


    label {
      margin-bottom: 3px;

      span {
        color: rgb(167, 167, 167);
        font-size: 0.8rem;
      }
    }

    input {
      color: white;
      padding: 6px;
      margin-bottom: 12px;
      border: 1px solid #484848;
      font-size: 14px;
      background-color: rgba(31, 31, 31, 0.089);
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
}

.cgv {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  
  label {
    margin-left: 0.5rem;
    font-size: 0.8rem;
   
  }

  input {
    margin-top: 0.2rem;
    width: 1rem;
    height: 1rem;
  }

  a {
    
    margin:0.3rem;
    text-align: center;
    border : 1px solid var(--sunset1);
    padding: 0.3rem 0.5rem;
    border-radius: 4px;
    color: white;
  }
}

  }

  .error-message {
    color: rgb(255, 123, 108);
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
    text-align: center;
  }

  span {
    text-align: center;
    color: var(--sunset4);
    font-size: 1.1rem;
    margin-top: 1.5rem;
    cursor: pointer;
  }

  a {
    
    text-decoration: none;
    margin-top: 1.5rem;
    text-align: center;
    border : 1px solid var(--sunset1);
    padding: 0.7rem 1rem;
    border-radius: 4px;
    color: white;
    
  }

  a:hover {
    font-weight: 500;
    box-shadow: 0px 0px 14px -7px #121e37;
    background-image: linear-gradient(45deg, #0651bb 0%, #009fe3  51%, #00438f  100%);
  }    
  // &:active {
  //   transform: scale(0.95);
  // } 
}

.section-2 {
 background-image: url(https://images.unsplash.com/photo-1462899006636-339e08d1844e?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  h2 {
    font-family: "Barlow Condensed", sans-serif;
    color: white;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 5);
    padding : 0.8rem;
  }
}


// media queries


}

@media screen and (max-width: 1024px) {
  .register-container {
    flex-direction: column-reverse;


    .section-1 {
      width: 100%;
      margin-bottom: 2rem;
      margin-top: 2rem;

      h1 {
        font-size: 1.5rem;
      }

      p {
        font-size: 1rem;
      }

      form {
        width: 80%;
      }
    }

    .section-2 {
      width: 100%;
     height: 40vh;
    

      h2 {
        font-size: 2.2rem;
      }



    }
  }
  

}

