.shopCarousel-container {
  width: 90%;
  margin: 0 auto;

  .product-item {
    padding: 0.5em ;
    transition: 0.3s;
    margin-bottom: 2em;
    gap : 1rem;

    .product-card {
      padding : 0.5em;
    }
    .card-brand {
      padding-top: 1rem;
    }
  }
}
