.edit-order-container {
  margin: 8rem auto;
  max-width: 1440px;
  background-color: #58585866;
  padding: 2rem;
  border-radius: 10px;

  h2 {
    font-size: 1.7rem;
    margin-bottom: 2rem;
    text-align: center;
    padding: 0.5rem;
    background-color: var(--sunset1);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
  }

  h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--sunset2);
  }

  .edit-order-form {
    display: flex;
    justify-content: space-around;

    .section-1 {
      width: 40%;
      justify-content: center;
      align-self: center;

      h4 {
        font-size: 1.1rem;
        margin-bottom: 1.3rem;
      }
    }

    .section-2 {
      width: 60%;

      form {
        display: block;

        justify-content: space-between;
        height: 100%;
        width: 100%;

        h4,
        .h4 {
          border-top: 1px solid #6f6e6e;
          padding-top: 0.5rem;
          font-size: 1.2rem;
          font-weight: 600;
          margin-bottom: 1rem;
          color: var(--sunset1);
        }

        label {
          font-size: 1.1rem;
          margin-bottom: 1rem;
          width: 30%;
        }

        input {
          width: 70%;
          font-size: 1rem;
          margin-bottom: 1rem;
          padding: 0.3rem;
          border: 1px solid #000;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
        }
      }

      select {
        font-size: 1rem;
        margin-bottom: 1rem;
        padding: 0.3rem;
        border: 1px solid #000;
        border-radius: 5px;
      }
      button {
        padding: 0.8rem 5rem;
        text-align: center;
        display: block;
      }
    }
  }
}
