.admin-dashboard-container {
  margin-top: 6rem;
  display: flex;
  width: 100%;
  padding: 0rem 1rem 1rem 1rem;

  h1 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--sunset1);
  }
  .admin-nav {
    width: 20%;
  }

  .admin-dashboard {
    width: 80%;
    padding-left: 1em;

    h2 {
      text-align: center;
      margin-bottom: 1rem;
      font-size: 1.2rem;
      font-weight: 500;
      border-bottom: 1px solid #707070;
      padding-bottom: 1.5em;
      padding-top: 1.5em;
    }

    h3 {
      text-align: center;
      margin-bottom: 1rem;
      font-size: 1.1rem;
      font-weight: 400;
      margin-top: 2.5em;
    }

    span {
      color: white;
      background-color: #00b527;
      padding: 0.5em 1.5em;
      border-radius: 0.7em;
      -webkit-border-radius: 0.7em;
      -moz-border-radius: 0.7em;
      -ms-border-radius: 0.7em;
      -o-border-radius: 0.7em;
    }

    .top {
      display: flex;
      width: 100%;

      .recap-users {
        width: 45%;
        margin-right: 3em;
        display: block;
      }

      .recap-orders {
        width: 45%;
      }

      table {
        width: 100%;
        height: auto;
        border-collapse: collapse;
        text-align: center;
        margin-bottom: 2em;
        border: 1px solid #5e5d5d;

        th {
          background-color: var(--sunset1);
          color: white;
          padding: 0.8rem;
        }
        td {
          padding: 0.7rem 0;
          border-bottom: 1px solid #6b6b6b;
        }
      }
    }

    .bottom {
      margin-bottom: 2em;
      margin-top: 2em;

      .recap-products {
        display: flex;
        width: 100%;

        h2 {
          width: 100%;
          border: none;
        }
      }
    }
  }

  // mediaqueries

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    padding: 0rem 0.5rem 1rem 0.5rem;

    .admin-nav {
      width: 100%;
    }

    .admin-dashboard {
      width: 100%;

      h1 {
        font-size: 1.5rem;
      }

      h2 {
        font-size: 1.1rem;
      }

      h3 {
        font-size: 1rem;
      }

      .top {
        flex-direction: column;

        .recap-users {
          width: 100%;
          margin-right: 0;
        }

        .recap-orders {
          width: 100%;
        }

        table {
          margin-bottom: 1em;
        }
      }

      .bottom {
        .recap-products {
          flex-direction: column;
        }
      }
    }
  }
}
