.expertise-container {
  margin-top: 4rem;

  .hero {
    height: 75vh;
    background: linear-gradient(
      0deg,
      #1c1c1cfe 3%,
      rgba(10, 17, 30, 0.144) 20%,
      rgba(59, 97, 167, 0.192),
      50%,
      rgba(122, 122, 122, 0) 94%
    ),url("../../../public/assets/security3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    align-items: center;
    display: flex;
    margin-bottom: 2rem;
    width: 100%;

    .title {
      width: 40%;
      margin-left: 3rem;

      h1 {
        
        color: var(--sunset1);
        font-weight: 600;
        text-shadow: 1px 2px 2px rgb(44, 44, 44);
        font-size: 2.6em;
        line-height: 3rem;
        margin-bottom: 2rem;
        padding-bottom: 0rem;
      }

      .description {
        width: 100%;
        color: rgb(254, 254, 254);
        font-size: 1.1rem;
        line-height: 1.8rem;
        font-weight: 500;
      }

      button {
    
        margin-top: 2rem;
        padding: 12px 90px;
        text-align: center;
        //text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        display: block;
        border: 0px;
        font-size: 1rem;
        font-weight: 500;
        box-shadow: 0px 0px 14px -7px #121e37;
        background-image: linear-gradient(
          45deg,
          #0651bb 0%,
          #009fe3 51%,
          #00438f 100%
        );
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        &:hover {
          background-position: right center;
          /* change the direction of the change here */
          color: #fff;
          text-decoration: none;
        }

        &:active {
          transform: scale(0.95);
        }
      }
      a {
        text-decoration: none;
      }
    }
  }
  .forces {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;

    li {
      width: 15%;
      font-size: 1rem;
      font-weight: 500;
      margin-top: 1rem;
      color: #c0c0c0;
      line-height: 1.5rem;
      list-style: none;
      display: inline-block;
      align-items: center;
      display: flex;

      i {
        text-align: center;
        width: 100%;
        color: #03dac8;
        font-size: 3rem;
        margin-right: 0.5rem;
      }
    }
  }

  .slides-section {
    display: flex;
    margin-bottom: 8rem;

    .slide {
      text-align: center;
      width: 27%;
      margin: auto;

      img {
        width: 20rem;
        object-fit: cover;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }

      h4 {
        font-family: "Barlow Condensed", sans-serif;
        font-size: 2rem;
        font-weight: 500;
        margin-top: 1rem;
        color: #2ab1ff;
      }

      h3 {
        font-family: "Barlow Condensed", sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        margin-top: 1rem;
        color: #efefef;
      }

      h2 {
        font-family: "Barlow Condensed", sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-size: 2rem;
        font-weight: 600;
        margin-top: 1rem;
        color: #efefef;
        border-top: 1px solid #2ab1ff;
        border-bottom: 1px solid #2ab1ff;
        padding: 0.8rem 0;
      }

      p {
        font-size: 1rem;
        font-weight: 400;
        margin-top: 1rem;
        color: #c0c0c0;
        line-height: 1.5rem;
      }
    }
  }
}

// .item {
//   width: 200px;
//   height: 200px;
//   margin: 50px auto;
//   padding-top: 75px;
//   background: #ccc;
//   text-align: center;
//   color: #fff;
//   font-size: 3em;
// }
