.hero-container {
    margin-top: 8rem;
    margin-bottom: 2.5rem;
    width: 100%;
    
    video {
      height: 20rem;
      width: 100%;
      
      object-fit: cover;
      border-radius: 0.5rem;
      -webkit-border-radius: 0.5rem;
      -moz-border-radius: 0.5rem;
      -ms-border-radius: 0.5rem;
      -o-border-radius: 0.5rem;
      box-shadow:  1px 1px 3px 0px #424242;
    }

    .hero__title {
      margin-top: -4rem;

      h1 {
        color: var(--sunset8);
        font-family: 'Barlow Condensed', sans-serif;
        text-shadow: rgb(54, 54, 54) 1px 3px 5px;
        font-size: 4rem;
        font-weight: 600;
        text-align: center;
        letter-spacing: 0.7rem;
      }
      span {
        color: var(--sunset6);
        text-shadow: rgb(128, 128, 128) 1px 3px 5px;
      }
    }
  }