.counter_wrapper {
  max-width: 1440px;
  width: 100%;
  background: rgb(234, 234, 234);
  margin: 6em auto;
  padding: 1em 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.3em;
  .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .count_box {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20em;
    padding: 2em;
    border: 1px solid var(--sunset5);
    text-align: center;
    border-radius: 0.5em;
    background: var(--sunset1);
  }
  .count_box h3 {
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
    transition: all 0.5s;
  }
  .count_box h4 {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 10px;
    transition: all 0.5s;
  }
  .box_center {
    background: var(--sunset1);
  }
  .box_hover:hover h3,
  .box_hover:hover h4 {
    scale: 1.2;
  }
  @media (max-width: 1024px) {
    .count_box {
      width: 15em;
      padding: 1em;
    }
  }
  @media (max-width: 768px) {
    .count_box {
      width: 10em;
      padding: 1em;
    }
  }
  @media (max-width: 480px) {
    .count_box {
      width: 7.5em;
      padding: 1em;
    }
  }
}
