
.counter_wrapper {
  width: 100%;
  background: #f9f9f900;
  margin : 8em auto;
}

.counter_wrapper .count_box {
  padding: 4em;
  border: 1px solid var(--sunset5);
  text-align: center;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
 
 
 
}
.counter_wrapper .count_box h3 {
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  
  
}
.counter_wrapper .count_box h4 {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 10px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.counter_wrapper .box_center {
  background: linear-gradient(to bottom right, #2d2d2d00, #25bffc95);
  background-position: center 0;
  background-size: cover;

}
.counter_wrapper .box_center h3,
.counter_wrapper .box_center h4 {
  color: #fff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.counter_wrapper .box_hover:hover {
  background: linear-gradient(to bottom right,#2d2d2d00, #25bffc95);
  background-size: cover;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.counter_wrapper .box_hover:hover h3,
.box_hover:hover h4 {
  color: #fff;
}

// @media (max-width: 768px) {
//   .counter_wrapper .col-md-4 {
//     margin-bottom: 15px;
//   }
// }
