.hero-container {
  margin-top: 4rem;
  width: 100%;
  

  .background {
    display: flex;
    width: 100%;
    height: 70vh;

    .left {
      width: 40%;
      // background: linear-gradient(
      //   153deg,
      //   rgb(0, 22, 44) 7%,
      //   rgb(1, 51, 100) 16%,
      //   rgb(2, 73, 120) 40%,
      //   var(--sunset1),
      //   var(--sunset2) 94%
      // );
      background:var(--sunset1);
      display: flex;

      h1 {
        
        color: var(--sunset8);
        text-shadow: rgb(2, 87, 145) 1px 1px 6px;
        font-size: 3em;
        font-weight: 600;
        letter-spacing: 0.3rem;
        margin-bottom: 0rem;
        margin-top: 5%;
        margin-left: 5%;
     
      }
    }

    .right {
      width: 60%;
      
      background-image: url("https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: right;

      h2 {
        width: 55%;
        color: var(--sunset6);
        text-shadow: rgb(82, 82, 82) 2px 2px 5px;
        font-size: 3.5em;
        font-weight: 600;
        letter-spacing: 0.2rem;
        position: absolute;
        top: 40%;
        right: 30%;
        text-transform: uppercase;
      }

      a {
        text-decoration: none;
        color: white;
        bottom: 25%;
        right: 6%;
        position: absolute;

        button {
          padding: 10px 30px;
          text-align: center;
          text-transform: uppercase;
          font-size: 1.1em;
          transition: 0.5s;
          background-size: 200% auto;
          color: white;
          border-radius: 10px;
          display: block;
          border: 0px;
          font-weight: 500;
          box-shadow: 0px 0px 14px -7px #121e37;
          background-image: linear-gradient(
            45deg,
            #0651bb 0%,
            #009fe3 51%,
            #00438f 100%
          );
          // background-color: var(--sunset1);
          cursor: pointer;
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;

          &:hover {
            background-position: right center;
            /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }

          &:active {
            transform: scale(0.95);
          }
        }
      }
     }
   }

//media queries
@media (max-width: 1024px) {
  .background {
    height: 50vh;
    .left {
      h1 {
        font-size: 2.5em;
     
      }
    }

    .right {
      h2 {
        font-size: 2.5em;
        top: 30%;
        right: 30%;
      }

      a {
        bottom: 45%;
        right: 6%;
        button {
          font-size: 1em;
      
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .background {
    .left {
      h1 {
        font-size: 2em;
      }
    }

    .right {
      h2 {
        font-size: 2em;
    
      }

      a {
        button {
          font-size: 0.9em;
        }
      }
    }
  }
}

}
