.homepageHero-container {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  height: 70vh;

  .hero-left {
    width: 30%;
    // background: linear-gradient(
    //   153deg,
    //   rgb(0, 22, 44) 7%,
    //   rgb(1, 51, 100) 16%,
    //   rgb(2, 73, 120) 40%,
    //   var(--sunset1),
    //   var(--sunset2) 94%
    // );
    background: var(--sunset1);
    display: flex;

    h2 {
      color: var(--sunset8);
      text-shadow: rgb(2, 87, 145) 1px 1px 6px;
      font-size: 3em;
      font-weight: 600;
      letter-spacing: 0.3rem;
      margin-bottom: 0rem;
      margin-top: 5%;
      margin-left: 5%;
    }
  }

  .hero-right {
    width: 70%;
    background-image: url("https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;

    h1 {
      width: 50%;
      text-shadow: rgb(82, 82, 82) 2px 2px 5px;
      font-size: 3.3em;
      font-family: "Barlow Condensed", sans-serif;
      font-weight: 600;
      letter-spacing: 0.2rem;
      position: absolute;
      top: 40%;
      right: 30%;
      text-transform: uppercase;
    }

    a {
      text-decoration: none;
      color: white;
      bottom: 25%;
      right: 6%;
      position: absolute;
    }
  }
}

//media queries 1024px

@media (max-width: 1024px) {
  .homepageHero-container {
    height: 60vh;

    .hero-left {
      h2 {
        font-size: 2.5em;
        margin-top: 10%;
        margin-left: 10%;
      }
    }

    .hero-right {
      h1 {
        font-size: 2.3em;
        width: 50%;
        top: 40%;
        right: 30%;
      }

      a {
        bottom: 35%;
        right: 10%;
      }
    }
  }
}

//media queries 768px
@media (max-width: 768px) {
  .homepageHero-container {
    height: 50vh;
    .hero-left {
      h2 {
        font-size: 2.2em;
        margin-top: 10%;
        margin-left: 10%;
      }
    }

    .hero-right {
      h1 {
        font-size: 2.2em;
        width: 70%;
        top: 40%;
        right: 15%;
      }

      a {
        bottom: 43%;
        right: 10%;
        button {
          padding: 0.5rem 1rem;
          font-size: 1.2em;
        }
      }
    }
  }
}

//media queries 425px
@media (max-width: 480px) {
  .homepageHero-container {
    height: 40vh;
    .hero-left {
      h2 {
        font-size: 1.5em;
        margin-top: 10%;
        margin-left: 10%;
      }
    }

    .hero-right {
      h1 {
        font-size: 1.9em;
        width: 70%;
        top: 23%;
        right: 15%;
      }

      a {
        bottom: 52%;
        right: 10%;
        button {
          padding: 0.5rem 1rem;
          font-size: 1.2em;
        }
      }
    }
  }
}
