@keyframes clickAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.6);
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -ms-transform: scale(1.6);
    -o-transform: scale(1.6);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

.product-card {
  background-color: #fff;
  border-radius: 0.3rem;
  box-shadow: 0.1rem 0.1rem 0.2rem 0rem rgba(217, 217, 217, 0.798);
  min-height: 24em;
  padding: 0.5rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;

  .discount-badge {
    position: absolute;
    background-color: #6c1b74;
    padding: 0.6rem 0.8rem;
    font-weight: 500;
    color: #fff;
    border-radius: 0.3rem;
    box-shadow: 0.1rem 0.1rem 0.2rem 0rem rgba(217, 217, 217, 0.798);
  }

  .card-title {
    height: 2.5rem;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 1rem;

    a {
      text-decoration: none;
      color: var(--sunset1);
    }

    a:hover {
      color: #0053a0;
    }
  }

  .product-img {
    width: 100%;
    height: 15em;
    object-fit: cover;
    margin: 0 auto;
    display: block;
  }
  .card-brand {
    border-bottom: 0.1rem solid #d9d9d9;
    margin-bottom: 1rem;

    .brand-logo {
      padding-bottom: 1rem;
      font-size: 1rem;
      color: #646464;
      font-weight: 600;
      width: 5rem;
      height: auto;
    }
  }

  .card-bottom {
    width: 100%;
    display: flex;

    .card-price {
      width: 50%;
      font-size: 1.2rem;
      font-weight: 500;
      color: #363636;
      // padding-right: 2rem;
      margin-bottom: 0.5rem;

      span {
        font-size: 0.7rem;
        font-weight: 600;
        color: #595959;
      }
    }

    .card-prices {
      display: flex;
      width: 100%;
      font-size: 1.2rem;
      font-weight: 500;
      color: #016e22;
      padding-right: 0.5rem;

      span {
        font-size: 0.7rem;
        font-weight: 600;
        color: #595959;
      }

      .original-price {
        font-size: 1rem;
        color: #f32222;
        text-decoration: line-through;

        margin-right: 0.5rem;
      }

      .discounted-price {
        font-size: 1.1rem;
        color: #016e22;
        font-weight: 600;
      }
    }

    .CTA {
      width: 50%;
      display: flex;
      justify-content: flex-end;

      .heart {
        i {
          font-size: 1.4rem;
          margin-right: 0.9rem;
          cursor: pointer;

          &:active {
            animation: clickAnimation 0.3s ease;
            -webkit-animation: clickAnimation 0.3s ease;
          }
        }
        i:hover {
          // color: #f74f4f;
          scale: 1.2;
        }
      }

      .cart {
        i {
          font-size: 1.4rem;
          color: #838485;
          margin-right: 0.8rem;
          cursor: pointer;

          &:active {
            animation: clickAnimation 0.3s ease;
            -webkit-animation: clickAnimation 0.3s ease;
          }
        }

        i:hover {
          color: #03b43e;
          scale: 1.2;
        }
      }
    }
  }

  //media queries
  @media (max-width: 768px) {
    .card-title {
      font-size: 1rem;
    }
  }
}
