.search-container {
  max-width: 1440px;
  margin: 0 auto;

  .search-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;

    input {
      width: 60%;
      padding: 0.5rem;
      font-size: 1rem;
      font-weight: 600;
      color: #011552;
      border: none;
      box-shadow: 1px 1px 1px 0rem rgba(217, 217, 217, 0.798);
      transition: all 0.3s ease-in-out;
      border-radius: 0.3em;
      -webkit-border-radius: 0.3em;
      -moz-border-radius: 0.3em;
      -ms-border-radius: 0.3em;
      -o-border-radius: 0.3em;
      &:focus {
        box-shadow: 0.1rem 0.2rem 0.2rem 0rem rgba(0, 0, 0, 0.2);
      }

      &::placeholder {
        font-size: 1rem;
        font-weight: 600;
        color: #454545;
      }
    }

    button {
      margin-left: 1em;
      padding: 0.35em 1em;
    }
  }

  h1 {
    font-size: 2rem;
    font-weight: 600;
    color: #eaeaea;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .search-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }

  // RESPONSIVE

  @media (max-width: 1024px) {
    .search-grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  // @media screen and (max-width: 900px)

  @media (max-width: 768px) {
    .search-grid {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (max-width: 480px) {
    .search-grid {
      grid-template-columns: 1fr;
    }
  }
}

// @media screen and (max-width: 1024px)

//  @media screen and (max-width: 900px)

//  @media screen and (max-width: 768px)
