.homepage-container {
  width: 100%;
  margin-top: 5em;

  h2 {
    margin-bottom: 0.5em;
    color: var(--sunset1);
    font-family: "Barlow Condensed", sans-serif;
    font-size: 3rem;
    font-weight: 500;

 
  }

  .section-1 {
    display: flex;
    height: 35vh;

    .section-1__img {
      width: 40%;
      background-image: url("https://images.unsplash.com/photo-1553877522-43269d4ea984?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
      // background-image : url(../../../public/assets/homehero.jpeg);
      // background-image: url("https://as2.ftcdn.net/v2/jpg/07/05/89/79/1000_F_705897921_T2T6FWbITwarz8k28U9QNKx1xL2PuADY.jpg");
      background-size: cover;
      background-position: center;
    }

    .section-1__intro {
      width: 60%;
      background: linear-gradient(
        153deg,
        var(--sunset2) 7%,
        var(--sunset1) 16%,
        rgb(2, 73, 120) 40%,
        rgb(1, 51, 100),
        rgb(0, 22, 44) 94%
      );
      // background:var(--sunset1);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
 
      p {
        line-height: 1.5;
        font-size: 1.2rem;
        font-weight: 500;
        text-align: justify;
        color: #e6e4e4;
        text-shadow: rgb(0, 16, 57) 1px 1px 1px;
        margin-left: 4rem;
        margin-right: 4rem;

        strong {
          font-size: 1.2rem;
          color: #ffffff;
          text-shadow: rgb(0, 2, 5) 1px 1px 2px;
          font-weight: 500;
        }
      }
      .icons {
        display: flex;
        justify-content: space-around;

        img {
          width: 10%;
        }
      }
    }
  }

  .section-2 {
    margin: 8em auto;
    max-width: 1440px;

   
        p {
          line-height: 1.5;
          font-size: 1.2rem;
        }
      
    
  }


  .section-4 {
    display: flex;
    height: auto;
    margin: 8em auto;
    max-width: 1440px;

    .section-4__text {
      width: 60%;

      justify-items: center;

      p {
        line-height: 1.4;
        font-size: 1.1rem;
        text-align: justify;
        color: #e6e4e4;
        margin-bottom: 1em;
      }

      a {
        text-decoration: none;
        color: white;

        button {
          padding: 16px 50px;
          font-size: 1.1em;
          transition: 0.5s;
          background-size: 200% auto;
          color: white;
          border-radius: 10px;
          display: block;
          border: 0px;
          font-weight: 500;
          box-shadow: 0px 0px 14px -7px #121e37;
          background-image: linear-gradient(
            45deg,
            #0651bb 0%,
            #009fe3 51%,
            #00438f 100%
          );
          cursor: pointer;
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;

          &:hover {
            background-position: right center;
            /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }

          &:active {
            transform: scale(0.95);
          }
        }
      }
    }

    .section-4__img {
      width: 80%;
      background: linear-gradient(
          80deg,
          #1c1c1c 5%,
          rgba(23, 23, 23, 0.914) 15%,
          rgba(31, 31, 31, 0.671) 25%,
          rgba(80, 80, 80, 0.661),
          40%,
          rgba(122, 122, 122, 0.106) 94%
        ),
        url("https://images.unsplash.com/photo-1581091877018-dac6a371d50f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
      background-size: cover;
      background-position: center;

      filter: grayscale(0.8);
      -webkit-filter: grayscale(0.8);

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  //media queries
  @media (max-width: 1024px) {
    .section-1 {
      height: 40vh;
      .section-1__img {
        width: 50%;
      }
      .section-1__intro {
        width: 75%;
        p {
          margin-left: 2rem;
          margin-right: 2rem;
        }
      }
    }

    .section-2 {
      .section-2__offer {
        .title {
          h2 {
            font-size: 2.5em;
          }
        }
        .description {
          p {
            font-size: 1.1rem;
          }
        }
      }
    }

    .section-3 {
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
      .skills-card {
        height: auto;
        h3 {
          font-size: 1.3rem;
        }
        p {
          font-size: 1rem;
        }
        a {
          font-size: 1.1rem;
        }
      }
    }

    .section-4 {
      flex-direction: column;
      padding-left: 0rem;
      margin : 7em auto;
      .section-4__text {
        width: 100%;
        padding-left: 0rem;
        p {
          margin-bottom: 1em;
        }
      }
      .section-4__img {
        width: 100%;
      }
    }
  }
}
