.homepage-container {
  width: 100%;
  margin: 0 auto;

  .section-1 {
    // margin-top: 0.2rem;
    display: flex;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
    height: 50vh;

    .section-1__img {
      width: 40%;
      // background: linear-gradient(to top right, #9c9b9b1c, #dddcdce5);
      background-image: url("https://images.unsplash.com/photo-1553877522-43269d4ea984?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
      background-size: cover;
      background-position: center;
      // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
      position: relative;
      z-index: 1000;
    }

    .section-1__intro {
      width: 60%;
      background: linear-gradient(
        153deg,
        var(--sunset2) 7%,
        var(--sunset1) 16%,
        rgb(2, 73, 120) 40%,
        rgb(1, 51, 100),
        rgb(0, 22, 44) 94%
      );
      box-shadow: 1px 1px 5px 0px #424242;
      // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        line-height: 1.5;
        font-size: 1.2rem;
        font-weight: 500;
        text-align: justify;
        color: #e6e4e4;
        text-shadow: rgb(0, 16, 57) 1px 1px 2px;
        // font-family: "Barlow Condensed", sans-serif;
        margin-left: 4rem;
        margin-right: 4rem;
        margin-bottom: 2rem;

        strong {
          font-size: 1.3rem;
          color: #ffffff;
          text-shadow: rgb(0, 2, 5) 1px 1px 2px;
          font-weight: 600;
        }
      }
      .icons {
        display: flex;
        justify-content: space-around;

        img {
          width: 12%;
        }
      }
    }
  }

  .section-2 {
    .section-2__offer {
      display: flex;
      width: 100%;
      

      .title {
        width: 40%;
        margin-top: -9em;
        text-align: center;

        h2 {
          text-align: center;
          text-transform: uppercase;
          padding-top: 1.8em;
          font-size: 3em;
          font-weight: 700;
          text-shadow: rgb(19, 18, 18) 1px 1px 2px;
          rotate: 1 1 0 30deg;
        }
        img {
          text-align: center;
          width: 10%;
          margin-top: 1rem;
        }
      }
      .description {
        width: 60%;

        p {
          line-height: 1.6;
          font-size: 1.2rem;
          text-align: justify;
          color: #fafafa;
          text-shadow: rgb(38, 38, 38) 1px 1px 2px;
          rotate: 1 1 0 30deg;
          margin-right: 2rem;
          margin-top: -1.4em;
        }
       
      }
    }

    .section-2__skills {
      margin: 2rem 3rem 3rem 3rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 4rem;

      .skills_card {
        display: block;
        width: 100%;
        min-height: 19rem;
        // background: linear-gradient(
        //   180deg,
        //   var(--sunset1) 7%,
        //   var(--sunset1) 16%,
        //   rgb(2, 73, 120) 40%,
        //   rgb(1, 51, 100),
        //   rgb(0, 22, 44) 94%
        // );
        background: linear-gradient(
          180deg,
          rgb(168, 168, 168) 7%,
          rgb(104, 104, 104) 16%,
          rgb(61, 61, 61) 40%,
          rgb(48, 48, 48),
          rgb(16, 16, 16) 94%
        );
        text-align: center;
        border-radius: 0.5rem;
        box-shadow: 1px 1px 2px #424242;

        img {
          margin-top: 1rem;
          width: 5rem;
        }

        h3 {
          font-size: 1.5rem;
          font-weight: 600;
          padding: 1rem;
        }

        p {
          font-size: 1rem;
          color :rgb(204, 204, 204);
        padding: 1rem 1rem 1rem 1rem;
          line-height: 1.3rem;
        }
        a {
          text-decoration: none;
          color: #009fe3;
          font-size: 1.2rem;
          font-weight: 600;
          padding: 2rem;
          transition: all 0.3s ease;
          cursor: pointer;
          &:hover {
            color: #f9f9f9;
          }
        }
      }
    }
  }
}
