.shop_hero_carousel_container {
  width: 97%;
  margin: auto;

  img {
    max-height: 40vh;
    width: 100%;
    max-height: 50vh;
    object-fit: cover;
  }
}
// media queries

@media (max-width: 768px) {
  .shop_hero_carousel_container {
    width: 90%;
    margin: auto;
  }
}
