.products-container {

  .products { 

  h1 {
    font-size: 2rem;
    font-weight: 600;
    color: #eaeaea;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.2rem;
    padding: 1rem;

    .product-card {
      background-color: #fff;
      border-radius: 0.5rem;
      box-shadow: 0.1rem 0.1rem 0.2rem 0rem rgba(217, 217, 217, 0.798);
      height: auto;
      padding: 0.5rem;

      .card-title {
        height: 1.8rem;
        font-size: 1.2rem;
        font-weight: 600;
        color: #0066db;
        text-align: center;
      }

      img {
        width: 100%;
        height : auto;
        
      }
      p {
        font-size: 1rem;
        color: #011552;
        margin-bottom: 0.5rem;
        font-weight: 600;
      }

      .card-price {
        font-size: 1.2rem;
        font-weight: 700;
        color: #016e22;
        margin-bottom: 0.5rem;
        text-align: center;

        span {
          font-size: 0.7rem;
          font-weight: 600;
          color: #595959;
        }
      }

      .button-see {
        width: 100%;
        margin-bottom: 0.2rem;
        padding: 0.5rem;
        font-size: 1rem;
        font-weight: 600;
        color: #fff;
        background-color: #0066db;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        a {
          text-decoration: none;
          color: #fff;
        }

        &:hover {
          background-color: #0073ff;
        }
      }

      .button-cart {
        width: 100%;

        padding: 0.4rem;
        font-size: 1rem;
        font-weight: 600;
        color: #fff;
        background-color: #018a2f;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
      }
    }
  }

// RESPONSIVE


  @media (max-width: 1024px) {
    .products-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  // @media screen and (max-width: 900px) 

  @media (max-width: 768px) {
    .products-grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media (max-width: 480px) {
    .products-grid {
      grid-template-columns: 1fr 1fr;
    }
  }

}
}




// @media screen and (max-width: 1024px) 
 
//  @media screen and (max-width: 900px) 

//  @media screen and (max-width: 768px) 
 