.card-body {


    .card-title {
      font-size: 1.5rem;
      font-weight: 700;
      color: #0066db;
      margin-bottom: 0.5rem;
    }
    p {
    
      font-size: 1rem;
      color: #011552;
      margin-bottom: 0.5rem;
    
    }
    }