.shopAside_container {
  width: 15%;
  min-width: 7em;
  background-color: rgba(199, 199, 199, 0.38);
  margin: 1em;
  padding: 0.3em;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;

  h2 {
    color: white;
    background-color: var(--sunset1);
    padding: 0.3em;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -ms-border-radius: 0.3em;
    -o-border-radius: 0.3em;
  }

  .filter {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    label,
    span,
    li {
      font-size: 0.9rem;
      font-weight: 500;
      margin-bottom: 0.2rem;
      color: #333;
      input {
        margin-right: 0.5rem;
      }
    }
  }
}
