.header_container {
  width: 100%;
  background: rgb(44, 44, 44);
  box-shadow: 0 0 3px rgba(255, 254, 254, 0.5);
  position: fixed;
  display: flex;
  z-index: 9999;
  top: 0;
  margin: 0 auto;

  .header__nav {
    margin: auto;
    width: 100%;
    height: 5.5rem;
    display: flex;
    align-items: center;

    .header__logo {
      display: flex;
      cursor: pointer;

      img {
        padding-left: 1.5em;
        width: 13rem;
      }
    }

    ul {
      width: 100%;
      display: flex;
      font-size: 1.2rem;
      font-weight: 500;
      font-family: "Barlow Condensed", sans-serif;
      text-transform: uppercase;

      li.active a {
        border-bottom: 1px solid var(--sunset4);
        padding-bottom: 0.2rem;
      }
    }

    li,
    img {
      margin: auto;

      &:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
      }

      a {
        color: white;
        text-decoration: none;
        img {
          margin: 0.3rem;
          width: 2.5rem;
        }
      }

      .shop {
        background-color: #6c1b74;
        padding: 0.4em 0.5em;
        box-shadow: 0 0 2px rgba(255, 254, 254, 0.5);
        border-radius: 0.3rem;
        -webkit-border-radius: 0.3rem;
        -moz-border-radius: 0.3rem;
        -ms-border-radius: 0.3rem;
        -o-border-radius: 0.3rem;
      }
    }
  }

  .cart {
    margin-right: 2em;
    display: flex;
    text-align: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--sunset1);
    padding: 0.5em 0.5em;
    box-shadow: 0 0 2px rgba(255, 254, 254, 0.5);
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;

    a {
      width: 100%;
      font-size: 1.3rem;
      color: white;
    }

    &:hover {
      scale: 1.1;
    }
  }

  .header__burgerMenu {
    display: none;
  }

  @media screen and (max-width: 1080px) {
    .header__nav {
      justify-content: flex-end;

      ul {
        .shop {
          background-color: inherit;
          padding: 0;
          box-shadow: none;
          border-radius: 0;
        }
      }
    }

    .header__burgerMenu {
      display: flex;
      margin-left: auto;
      font-size: 2.6rem;
      cursor: pointer;
      right: 0;
    }

    .header__burgerMenu:before {
      content: "\2630";
    }
    ul {
      position: fixed;
      left: -110%;
      top: 4em;
      flex-direction: column;
      transition: 0.25s;
      background-color: rgb(57, 57, 57);
      z-index: 100;

      li {
        padding: 0.3rem 0;

        &:hover {
          background: #707070;
        }
      }
    }
    .active .header__burgerMenu:before {
      content: "\2715";
    }
    .active ul {
      left: 0;
    }

    .header__burgerMenu {
      display: flex;
      font-size: 2.6rem;
      cursor: pointer;
      margin-right: 5%;
    }

    .cart {
      // justify-content: flex-end;
    }
  }
}
