.register-container {
  margin-top: 5em;
  display: flex;
  min-height: 90vh;
  background-image: url(https://images.unsplash.com/photo-1462899006636-339e08d1844e?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);

  button {
    padding: 0.35em 1em;
    margin-top: 0.8em;
    width: 100%;
  }

  a {
    text-decoration: none;
  }

  .section-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      margin-top: 1em;
      font-family: "Barlow Condensed", sans-serif;
      font-size: 3rem;
      font-weight: 500;
      margin-bottom: 0.3rem;
      color: var(--sunset1);
    }

    p {
      font-size: 1.1rem;
      margin-bottom: 2em;
      color: var(--sunset4);
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 25em;
      background-color: #1d1d1de0;
      padding: 2em;
      margin-bottom: 2em;
      border-radius: 0.5em;
      -webkit-border-radius: 0.5em;
      -moz-border-radius: 0.5em;
      -ms-border-radius: 0.5em;
      -o-border-radius: 0.5em;

      label {
        margin-bottom: 3px;

        span {
          color: rgb(167, 167, 167);
          font-size: 0.8rem;
        }
      }

      input {
        color: white;
        padding: 6px;
        margin-bottom: 12px;
        border: 1px solid #696868;
        font-size: 14px;
        background-color: rgba(31, 31, 31, 0.089);
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
      }

      .cgv {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        label {
          margin-left: 0.5rem;
          font-size: 0.8rem;
        }

        input {
          margin-top: 0.2rem;
          width: 1rem;
          height: 1rem;
        }

        a {
          margin: 0.3rem;
          text-align: center;
          border: 1px solid var(--sunset1);
          padding: 0.1rem 0.3rem;
          border-radius: 4px;
          color: white;
          line-height: 1.5rem;
        }
      }
    }

    .error-message {
      color: rgb(255, 123, 108);
      font-size: 0.8rem;
      margin-bottom: 0.3rem;
      text-align: center;
    }

    span {
      text-align: center;
      color: var(--sunset4);
      font-size: 1.1rem;
      margin-top: 1.5rem;
      cursor: pointer;
    }
  }

  // media queries
}

@media screen and (max-width: 1024px) {
  .register-container {
    .section-1 {
      width: 100%;
      margin-bottom: 1rem;
      margin-top: 1rem;

      h1 {
        font-size: 2rem;
      }

      p {
        font-size: 1rem;
      }

      form {
        width: 20em;
      }
    }

    // .section-2 {
    //   width: 100%;
    //  height: 40vh;

    //   h2 {
    //     font-size: 2.2rem;
    //   }

    // }
  }
}
