.contact-container {
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1440px;
  margin: 7em auto;

  .contact-section {
    width: 45%;

    .visit-card {
      align-items: center;
      justify-content: center;
      align-self: center;

      h2 {
        font-family: "Barlow Condensed", sans-serif;
        color: var(--sunset1);
        font-weight: 500;
        margin-bottom: 1rem;
        font-size: 2.5rem;
      }

      h1 {
        font-family: "Barlow Condensed", sans-serif;
        font-size: 3.5rem;
        margin-bottom: 1rem;
      }

      h3 {
        font-size: 1.2rem;
        color: rgb(205, 203, 203);
        margin-bottom: 2rem;
        border-bottom: var(--sunset3) 1px solid;
        padding-bottom: 1rem;
      }

      p {
        color: white;
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
        text-decoration: none;
        line-height: 1.2rem;

        a {
          text-decoration: none;
          color: white;
        }

        i {
          margin-right: 1rem;
          color: var(--sunset1);
        }

        img {
          width: 10rem;
        }
      }
    }
    .map {
      iframe {
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 100%;
        height: 20rem;
        border: none;
        border-radius: 0.3rem;
        -webkit-border-radius: 0.3rem;
        -moz-border-radius: 0.3rem;
        -ms-border-radius: 0.3rem;
        -o-border-radius: 0.3rem;
        box-shadow: 1px 1px 5px var(--sunset3);
      }
    }
  }

  .contact-form {
    width: 45%;
    display: flex;
    justify-content: center;

    form {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      width: 100%;
      background: linear-gradient(
        45deg,
        #0c0c0c17 0%,
        #6363633d 51%,
        rgba(186, 186, 186, 0.318) 100%
      );
      padding: 2rem;
      border-radius: 0.3rem;
      -webkit-border-radius: 0.3rem;
      -moz-border-radius: 0.3rem;
      -ms-border-radius: 0.3rem;
      -o-border-radius: 0.3rem;
      box-shadow: 1px 0px 2px rgba(122, 122, 122, 0.801);

      label {
        margin-bottom: 0.4rem;
        color: var(--sunset6);
      }

      input,
      textarea {
        width: 100%;
        border: none;
        padding: 8px;
        margin-bottom: 1.2rem;
        border-radius: 0.4rem;
        -webkit-border-radius: 0.3rem;
        -moz-border-radius: 0.4rem;
        -ms-border-radius: 0.4rem;
        -o-border-radius: 0.4rem;
        box-shadow: 1px 1px 2px var(--sunset3);
      }

      .submitButton {
        padding: 0.6em 1.5em;
        text-transform: uppercase;
        font-size: 1.3em;
        font-family: "Barlow Condensed", sans-serif;
        transition: 0.5s;
        color: white;
        border: 0px;
        font-weight: 500;
        box-shadow: 0px 0px 14px -7px #121e37;
        background-color: var(--sunset1);
        cursor: pointer;
        border-radius: 0.3em;
        -webkit-border-radius: 0.3em;
        -moz-border-radius: 0.3em;
        -ms-border-radius: 0.3em;
        -o-border-radius: 0.3em;
        &:hover {
          background-color: rgb(55, 194, 254);
          text-decoration: none;
          scale: 1.1;
        }
      }

      .error-message {
        color: rgb(248, 116, 116);
        font-size: 0.8rem;
        margin-bottom: 01rem;
        // text-align: center;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .contact-container {
    flex-direction: column;
    margin: 8rem 1rem 0rem 1rem;
    .contact-section {
      width: 100%;
      .visit-card {
        h1 {
          font-size: 2rem;
        }
        h2 {
          font-size: 1.3rem;
        }
        h3 {
          font-size: 1rem;
        }
        p {
          font-size: 1rem;
        }
      }
      .map {
        iframe {
          height: 15rem;
        }
      }
    }
    .contact-form {
      width: 100%;
      form {
        padding: 1rem;
        input,
        textarea {
          padding: 5px;
        }
        .submitButton {
          padding: 10px 20px;
        }
      }
    }
  }
}
