.skills-container {
  max-width: 1440px;
  margin: 8rem auto;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5em;

  .skills-card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: rgb(248, 247, 247);
    text-align: center;
    box-shadow: 1px 1px 3px #494949;
    border-radius: 0.5rem;
    overflow: hidden;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;

    img {
      width: 100%;
      height: 13rem;
      object-fit: cover;
      border-radius: 0.5em 0.5rem 0 0;
      transition: transform 0.3s ease;
    }

    h3 {
      font-size: 1.5rem;
      font-weight: 500;
      padding: 1rem;
      color: var(--sunset1);
      text-transform: uppercase;
      font-family: "Barlow Condensed", sans-serif;
      z-index: 2;
      background-color: rgb(248, 247, 247);
    }

    p {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 15%;
      background-color: rgba(248, 247, 247, 0.9);
      font-size: 1.1em;
      color: rgb(78, 78, 78);
      line-height: 1.4em;
      font-weight: 500;
      padding: 1rem;
      margin: 0;
      opacity: 0;
      transform: translateY(100%);
      transition: all 0.3s ease;
      z-index: 1;
      align-items: center;
      align-self: center;
      align-content: center;
    }

    &:hover p {
      opacity: 1;
      transform: translateY(0);
    }

    .bottom {
      margin-top: auto;
      width: 100%;
      z-index: 2;
      background-color: rgb(248, 247, 247);

      a {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: white;
        background-color: #009fe3;
        font-weight: 500;
        padding: 0.5rem;
        transition: background-color 0.3s ease;
        cursor: pointer;
        border-radius: 0 0 5px 5px;

        i {
          margin-left: 0.5rem;
        }

        &:hover {
          background-color: rgb(55, 194, 254);
        }
      }
    }
  }

  // media queries
  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
