.footer-container {
  background: rgb(44, 44, 44);
  width: 100%;
  // height: auto;
  box-shadow: 0 0 3px rgba(255, 254, 254, 0.5);
  display: flex;
  justify-content: space-around;
  border-radius: 0.6rem 0.6rem 0rem 0rem;
  -webkit-border-radius: 0.6rem 0.6rem 0rem 0rem;
  -moz-border-radius: 0.6rem 0.6rem 0rem 0rem;
  -ms-border-radius: 0.6rem 0.6rem 0rem 0rem;
  -o-border-radius: 0.6rem 0.6rem 0rem 0rem;

  li {
    list-style: none;
    line-height: 1.5rem;

    i {
      margin-right: 0.8rem;
      color: var(--sunset3);
    }

    a {
      text-decoration: none;
      color: white;
    }
  }

  .section-1 {
    width: 20%;

    img {
      padding-top: 0.8rem;
      width: 60%;
    }

    p {
      line-height: 1.3rem;
    }
  }

  .section-2,
  .section-3 {
    h4 {
      font-size: 1.5rem;
      font-weight: 600;
      color: var(--sunset1);
      margin-top: 1rem;
      margin-bottom: 0.6em;
    }
    p {
      font-size: 1.2rem;
    }
  }

  // media query

  @media screen and (max-width: 768px) {
    .footer {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      margin-top: 0;
      height: auto;
      width: 100%;
      border-radius: 0;
      box-shadow: none;
      .section-1 {
        width: 100%;
        margin-left: 0;
        text-align: center;
        img {
          width: 50%;
        }
      }
      .section-2,
      .section-3 {
        margin-top: 1rem;
        text-align: center;
      }
    }
  }
}
