.footer-container {
  background: rgb(44, 44, 44);
  width: 100%;
  box-shadow: 0 0 3px rgba(255, 254, 254, 0.5);
  display: flex;
  min-height: 40vh;
  justify-content: space-around;

  .section-1 {
    padding: 0em 2em;
    width: 35%;
    align-self: center;

    img {
      width: 70%;
      padding-bottom: 2em;
    }

    p {
      line-height: 1.7rem;
    }
  }

  .section-2,
  .section-3,
  .section-4 {
    width: 15%;
    margin-top: 2.5em;

    h4 {
      font-family: "barlow condensed", sans-serif;
      text-transform: uppercase;
      font-size: 1.6rem;
      font-weight: 500;
      color: var(--sunset1);
      margin-top: 1rem;
      margin-bottom: 1em;
    }

    a {
      text-decoration: none;
      color: white;

      &:hover {
        color: var(--sunset1);
      }
    }

    li {
      list-style: none;
      line-height: 1.8rem;
    }

    i {
      margin-right: 1rem;
      color: var(--sunset3);
    }
  }

  .section-2 {
    align-items: center;
    // justify-content: center;
    display: flex;
    img {
      width: 50%;
    }
  }
}

// media query

@media screen and (max-width: 1024px) {
  .footer-container {
    flex-direction: column;
    height: 100%;
    padding: 2em 0;

    .section-1 {
      width: 80%;
      text-align: center;
      padding: 0;
      margin-bottom: 2em;

      img {
        width: 60%;
      }
    }

    .section-2,
    .section-3,
    .section-4 {
      width: 100%;
      text-align: center;
      justify-content: center;
    }

    .section-2 {
      img {
        width: 20%;
      }
    }
  }
}
