$animationSpeed: 30s;

// Animation
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

// Styling
.slider {
  background: linear-gradient(to bottom right, #31313155, #73bdfe71);
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 13em;
  margin-top: 6em;
  overflow: hidden;
  width: 100%;
  margin-bottom: 1.5em;

  h1 {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--sunset1);
    font-weight: 500;
    margin: 0;
    padding: 1rem 0rem 1.5rem 0rem;
    text-align: center;
    letter-spacing: 1px;
  }

  &::before,
  &::after {
    // @include white-gradient;
    content: "";
    height: 16em;
    position: absolute;
    width: 200px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide_track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(22em * 14);
    margin: auto;
  }

  .slide {
    justify-content: center;
    height: 12em;
    width: 100%;
    margin-left: 5rem;

    img {
      text-align: center;
      height: 7em;
      width: 12em;
      padding: 0.4rem 0rem;
      object-fit: contain;
    }
  }
}
