.shop-container {
  width: 100%;
  background-color: #f5f5f5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='299' height='299' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23C4DFFF' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23C2D3E7'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  color: black;

  .shop-hero {
    height: 50vh;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .hero-title {
      color: white;
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 35%;
      left: 3%;

      h2 {
        font-size: 1.5rem;
        padding-bottom: 0.5em;
        color: var(--sunset3);
      }

      h1 {
        font-size: 1.8rem;
        padding-bottom: 0.5em;
        color: var(--sunset3);
      }
      p {
        font-size: 1.1rem;
        padding-bottom: 2em;
      }
    }
  }

  .shop-hero-carousel {
    width: 100%;
    margin: 2em auto;
  }

  .shop-categories {
    max-width: 1440px;
    display: flex;
    margin: 2em auto;
    justify-content: space-around;

    a {
      text-decoration: none;
      display: flex;
      flex-direction: column;

      .category {
        width: 95%;
        height: 100%;
        padding: 1em 1em 4em 1em;
        cursor: pointer;
        transition: 0.3s;
        border-radius: 5px;

        h3 {
          font-size: 1.5rem;
          font-weight: 500;
          color: #333;
          padding-bottom: 0.5em;
          font-family: "Barlow Condensed", sans-serif;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 5px;
        }
        &:hover {
          background-color: #8080802d;
        }
      }
    }
  }

  .products-carousel {
    h4 {
      font-size: 1.6rem;
      font-weight: 500;
      color: var(--sunset1);
      padding: 0.5em 0;
      text-align: center;
      font-family: "Barlow Condensed", sans-serif;
    }
  }

  // media queries
  @media (max-width: 768px) {
    .shop-categories {
      display: grid;
      grid-template-columns: 1fr 1fr;

      a {
        margin: 1em 0;
        width: 100%;

        .category {
          width: 100%;

          h3 {
            font-size: 1.2rem;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
