.editUserCart-container {
  margin: 8rem auto;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--sunset1);
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 0rem;
    background-color: rgb(61, 61, 61);

    th {
      background-color: var(--sunset1);
      border: 1px solid #afafaf;
      padding: 0.4em;
      text-align: left;
      font-size: 1.1em;
      font-weight: 500;
    }

    td {
      border: 1px solid #afafaf;
      // padding: 0.2em;
      justify-content: center;
      text-align: center;
      align-items: center;
      align-self: center;
      font-size: 1.1em;
      button {
        padding: 0.3em 1em;
        background-color: rgb(255, 53, 53);
      }
    }

    input {
      width: 9rem;
      height: 2rem;
      border: 1px solid #afafaf;
      border-radius: 0.3rem;
      text-align: center;
      font-size: 1.1em;
    }

    img {
      width: 7rem;
      height: 6rem;
      background-color: white;
      object-fit: cover;
      border-radius: 0.2rem;
    }

    tbody tr:hover {
      background-color: #575757;
    }
  }

  .add-select {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 100%;

    select {
      width: 40%;
      height: 2rem;
      border: 1px solid #afafaf;
      border-radius: 0.3rem;
      text-align: center;
      font-size: 1em;
    }

    button {
      padding: 0.3em 4em;
      margin-left: 1em;
    }
  }

  .update-cart-btn {
    margin-top: 3rem;
    background-color: rgb(11, 143, 11);
    button {
      padding: 0.3em 4em;
    }
  }
  .cart-summary {
    margin: 2rem 2rem;
    text-align: right;
    width: 100%;
    font-size: 1.2em;
    line-height: 1.5em;
    background-color: rgb(61, 61, 61);
    padding: 0.5rem;
  }
}
