.shopNav-container {
  margin-top: 5.5rem;
  width: 100%;
  background-color: #30a6e6;
  height: 2.4rem;
  display: flex;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li:hover {
      .dropdown-menu {
        display: block;
        max-height: 9999px;
      }
    }
  }

  .dropdown {
    float: left;
    position: relative;
    width: 10em;

    label {
      background: #30a6e6;
      color: #ffffff;
      display: block;
      font-size: 1.1em;
      font-weight: 500;
      padding: 0.6rem 0.7rem;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      transition: background 0.25s ease;

      &:before {
        content: "\25BC";
        font-size: 0.7em;
        margin-right: 0.8em;
        transition: transform 0.25s ease;
      }

      &:hover {
        background: #6c1b74;
      }
    }

    input[type="checkbox"] {
      position: absolute;
      opacity: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;

      &:checked ~ .dropdown-menu {
        display: block;
        max-height: 9999px;
      }

      &:checked + label:before {
        transform: rotate(-180deg);
      }
    }

    .dropdown-menu {
      display: none;
      position: absolute;
      background: gray;
      list-style: none;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.6s ease-out;
      //   width: 10em;
      margin-left: 0em;
      -webkit-transition: max-height 0.6s ease-out;
      -moz-transition: max-height 0.6s ease-out;
      -ms-transition: max-height 0.6s ease-out;
      -o-transition: max-height 0.6s ease-out;
    }
  }

  .dropdown a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1.35rem;
    position: relative;
    z-index: 100;
    text-align: center;
    background-color: #343434;
    transition: background-color 0.25s ease;

    &:hover {
      background: #6c1b74;
    }
  }
}

@media (max-width: 768px) {
  .shopNav-container {
    .dropdown {
      width: 6.6em;
      font-size: 0.8em;
    }

    .dropdown-menu {
      width: 6.5em;
      min-width: 6.5em;
    }
    ul.dropdown-menu {
      li {
        width: 6.5em;
      }
    }
  }
}
