.user-account-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 6.5em;

  .user-menu {
    width: 15%;
    height: 5vh;

    .user-account-nav {
      width: 100%;
      height: 100%;
      background-color: rgba(87, 87, 87, 0.188);
      border-radius: 0.5rem 0rem 0rem 0.5rem;
      -webkit-border-radius: 0.5rem 0rem 0rem 0.5rem;
      -moz-border-radius: 0.5rem 0rem 0rem 0.5rem;
      -ms-border-radius: 0.5rem 0rem 0rem 0.5rem;
      -o-border-radius: 0.5rem 0rem 0rem 0.5rem;

      h2 {
        height: 8vh;
        text-align: center;
        align-content: center;
        font-size: 2em;
        font-family: "Barlow Condensed", sans-serif;
        border-bottom: 1px solid rgb(87, 87, 87);
        color: var(--sunset1);
      }

      button {
        width: 100%;
        padding: 2em 1em;
        background-color: rgba(111, 111, 111, 0.39);
        color: white;
        border: none;
        margin: 1.5em 0;
        cursor: pointer;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
        i
{
          font-size: 2rem;
        }
      }
    }
  }

  .user-dashboard {
    width: 85%;
    background-color: rgba(107, 106, 106, 0.219);
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    -webkit-border-radius: 0rem 0.5rem 0.5rem 0rem;
    -moz-border-radius: 0rem 0.5rem 0.5rem 0rem;
    -ms-border-radius: 0rem 0.5rem 0.5rem 0rem;
    -o-border-radius: 0rem 0.5rem 0.5rem 0rem;

    h3 {
      height: 8vh;
      text-align: center;
      align-content: center;
      font-size: 1.6rem;
      border-bottom: 1px solid rgb(87, 87, 87);
      color: var(--sunset3);

      font-family: "Barlow Condensed", sans-serif;
      text-transform: uppercase;
    }

    .no-favorites-orders-msg {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        font-size: 1.1rem;
        margin-top: 2em;
      }

      a {
        margin-top: 2rem;
        text-decoration: none;
        text-align: center;
      }
    }

    .user-infos {
      display: flex;
      flex-direction: column;

      .grid-infos {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 5em 1em;
        margin: 1rem;
        background-color: white;
        border-radius: 0.5rem;

        .perso,
        .address,
        .contact {
          width: 30%;
          display: flex;
          flex-direction: column;
          border-right: 1px solid rgb(87, 87, 87);
          padding-right: 1rem;

          h4 {
            background-color: var(--sunset1);
            padding: 0.5rem;
            margin-bottom: 2rem;
            font-size: 1.1rem;
            font-weight: 400;
            text-transform: uppercase;
            border-radius: 0.5rem;
            -webkit-border-radius: 0.5rem;
            -moz-border-radius: 0.5rem;
            -ms-border-radius: 0.5rem;
            -o-border-radius: 0.5rem;
          }

          p {
            margin-top: 1.7rem;
            color: black;
          }
        }

        .contact {
          border: none;
        }
      }

      a {
        display: flex;
        justify-content: center;
        text-decoration: none;
        color: white;
        width: 100%;
        padding-bottom: 2em;

        button {
          padding: 0.6em 3.5em;
        }
      }
    }

    .user-favorites {
      .favorites-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
        padding: 1rem;

        .discount-badge {
          position: relative;
        }
        .product-img {
          align-items: start;
          width: 50%;
          height: 8rem;
          object-fit: cover;
          margin-right: 5%;
        }

        .card-title {
          width: 100%;
          margin: inherit;
          padding: inherit;
        }
        .card-brand {
          margin: inherit;

          border: none;

          .brand-logo {
            margin: 0 1.5em 0 0;
            padding: inherit;
          }
        }
      }
    }
    .user-orders {
      margin: 1rem;

      .order {
        width: 100%;

        table {
          width: 100%;
          margin: auto;
          background-color: white;
          border-radius: 0.5em;
          -webkit-border-radius: 0.5em;
          -moz-border-radius: 0.5em;
          -ms-border-radius: 0.5em;
          -o-border-radius: 0.5em;

          th {
            background-color: var(--sunset1);
            color: white;
            padding: 1rem;
            border: 1px solid rgb(98, 98, 98);
          }

          td {
            padding: 1rem;
            border: 1px solid rgb(98, 98, 98);
            color: black;

            p {
              margin: 0;
            }

            a {
              text-decoration: none;
              color: white;

              button {
              }
            }
          }
        }
      }
    }
  }

  // mediaqueries

  @media (max-width: 1024px) {
    .user-menu {
      .user-account-nav {
        h2 {
          font-size: 1.3em;
        }
      }
    }

    .user-dashboard {
      h3 {
        font-size: 1.3em;
      }
      .user-infos {
        .grid-infos {
          flex-direction: column;
          padding: 2em 1em;

          .perso,
          .address,
          .contact {
            width: 100%;
            border-right: none;
            padding-right: 0;
            margin-bottom: 1rem;
          }
        }
      }

      .user-favorites {
        .favorites-grid {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 1rem;
          padding: 1rem;

          .product-card {
            display: flex;
            flex-direction: column;

            .product-img {
              margin: inherit;
            }

            .card-brand {
              margin: 1em;
            }
          }
        }
      }

      .user-orders {
        .order {
          table {
            th {
              padding: 0.5rem;
            }
            td {
              padding: 0.5rem;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .user-dashboard {
      .user-favorites {
        .favorites-grid {
          display: grid;
          grid-template-columns: 1fr;
          gap: 1rem;
          padding: 1rem;

          .product-card {
            .product-img {
              margin: inherit;
              width: 45%;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 680px) {
    .user-account-container {
      padding-top: 4em;
    }

    .user-menu {
      .user-account-nav {
        h2 {
          font-size: 1.1em;
        }
      }
    }

    .user-dashboard {
      h3 {
        font-size: 1.1em;
      }
      .user-infos {
        .grid-infos {
          padding: 1em 0.5em;
          .perso,
          .address,
          .contact {
            h4 {
              font-size: 1em;
            }
          }
        }
      }

      .user-favorites {
        .favorites-grid {
          .product-card {
            .product-img {
              width: 100%;
            }
          }
        }
      }

      .user-orders {
        .order {
          table {
            th {
              padding: 0.3rem;
              font-size: 0.8rem;
            }
            td {
              padding: 0.2rem;
              font-size: 0.8rem;

              button {
                padding: 0.3rem 1rem;
              }
            }
            .mobile {
              display: none;
            }
          }
        }
      }
    }
  }
}
