.admin-products {
  margin-top: 6rem;
  padding: 0rem 3rem 2rem 3rem;

  h1 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    color: #007bff;
    span {
      text-align: center;
      margin-bottom: 2rem;
      font-size: 1.2rem;
      color: white;
    }
  }

  .admin-products-dashboard {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between;

    .admin-products-aside {
      width: 15%;
      background-color: #49494950;
      border-radius: 8px;

      h3 {
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 1.3rem;
        font-size: 1.2rem;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
        color: #007bff;
      }

      input {
        // je veux agrandir les checkbox
        width: 1.2rem;
        height: 1.2rem;
        margin-left: 1rem;
        margin-bottom: 0.8rem;
      }

      label {
        margin-left: 1rem;
        font-size: 1rem;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
        color: #fff;
      }
    }

    .admin-products-display {
      width: 83%;

      .table {
        width: 100%;
        border-collapse: collapse;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 0.5rem;
        background-color: #464646;
        color: #fff;

        thead {
          background-color: #007bff;
          color: #fff;
        }

        th,
        td {
          text-align: center;
        }

        th {
          font-size: 1.2rem;
        }

        td {
          font-size: 1rem;
          vertical-align: middle;

          img {
            width: 7rem;
            height: 7rem;
            object-fit: cover;
            background-color: #fff;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
          }
          a {
            text-decoration: none;
            color: #ffffff;
            font-size: 1.1rem;
            font-weight: 500;
          }

          a:hover {
            color: var(--sunset1);
          }
        }

        tr:nth-child(even) {
          background-color: #333;
        }

        tr:hover {
          background-color: #555;
        }
        button {
          padding: 0.5rem 1rem;
        }
        .modify-btn {
          background-color: rgb(226, 100, 16);
        }
        .delete-btn {
          background-color: rgb(249, 47, 47);
        }
      }
    }
  }
}
