
// @mixin white-gradient {
//   background: linear-gradient(
//     to right,
//     rgb(58, 58, 58) 0%,
//     rgba(255, 255, 255, 0) 100%
//   );
// }

$animationSpeed: 30s;

// Animation
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

// Styling
.slider {
  background: linear-gradient(to bottom right, #c9c9c955, #359cf7db);
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 13em;
  margin: auto;
  overflow: hidden;
  width: 100%;

  h1 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    padding: 1rem 0rem 1.5rem 0rem;
    text-align: center;
  }

  &::before,
  &::after {
    // @include white-gradient;
    content: "";
    height: 16em;
    position: absolute;
    width: 200px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(22em * 14);
    margin: auto;
  }

  .slide {
    justify-content: center;
    height: 12em;
    width: 100%;
    margin-left: 5rem;

    img {
      text-align: center;
      height: 7em;
      width: 12em;
      padding: 0.4rem 0rem;
      object-fit: contain;
    }
  }
}
