.homepage-container {
  width: 100%;
  margin-top: 5em;

  h2 {
    margin-bottom: 0.5em;
    color: var(--sunset1);
    font-family: "Barlow Condensed", sans-serif;
    font-size: 3rem;
    font-weight: 500;
  }

  .section1-intro {
    display: flex;
    height: 100%;

    .section1-img {
      width: 30%;
      background-image: url("https://images.unsplash.com/photo-1553877522-43269d4ea984?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
      background-size: cover;
      background-position: center;
    }

    .section1-text {
      width: 70%;
      // background: linear-gradient(
      //   153deg,
      //   var(--sunset2) 7%,
      //   var(--sunset1) 16%,
      //   rgb(2, 73, 120) 40%,
      //   rgb(1, 51, 100),
      //   rgb(0, 22, 44) 94%
      // );
      background: var(--sunset1);
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      p {
        line-height: 1.5;
        font-size: 1.2rem;
        font-weight: 500;
        text-align: justify;
        color: #e6e4e4;
        text-shadow: rgb(0, 16, 57) 1px 1px 1px;
        margin-left: 4rem;
        margin-right: 4rem;
        padding-top: 1em;

        strong {
          font-size: 1.2rem;
          color: #ffffff;
          text-shadow: rgb(0, 2, 5) 1px 1px 2px;
          font-weight: 500;
        }
      }
      .icons {
        display: flex;
        justify-content: space-around;

        img {
          width: 10%;
        }
      }
    }
  }

  .section2-offer {
    margin: 7em auto;
    padding: 0 2rem;
    max-width: 1440px;
    p {
      line-height: 1.5;
      font-size: 1.2rem;
      text-align: justify;
    }
  }

  .section4-aboutUs {
    display: flex;
    height: auto;
    margin: 8em auto;
    padding-left: 2rem;
    max-width: 1440px;

    .section4-text {
      width: 60%;

      justify-items: center;

      p {
        line-height: 1.4;
        font-size: 1.1rem;
        text-align: justify;
        color: #e6e4e4;
        margin-bottom: 1em;
      }

      a {
        text-decoration: none;
      }
    }

    .section4-img {
      width: 80%;
      background: linear-gradient(
          80deg,
          #1c1c1c 5%,
          rgba(23, 23, 23, 0.914) 15%,
          rgba(31, 31, 31, 0.671) 25%,
          rgba(80, 80, 80, 0.661),
          40%,
          rgba(122, 122, 122, 0.106) 94%
        ),
        url("https://images.unsplash.com/photo-1581091877018-dac6a371d50f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
      background-size: cover;
      background-position: center;

      filter: grayscale(0.8);
      -webkit-filter: grayscale(0.8);

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  //media queries
  @media (max-width: 1024px) {
    h2 {
      font-size: 2.2em;
    }
    .section1-intro {
      .section1-img {
        width: 30%;
      }
      .section1-text {
        width: 70%;
        p {
          font-size: 1rem;
          margin-left: 1rem;
          margin-right: 1rem;
          strong {
            font-size: 1rem;
          }
        }
        .icons {
          img {
            width: 3.5rem;
          }
        }
      }
    }

    .section2-offer {
      p {
        font-size: 1.1rem;
        line-height: 1.3;
      }
    }

    .section4-aboutUs {
      flex-direction: column;
      padding: 0rem 2rem;

      .section4-text {
        width: 100%;
        padding-left: 0rem;
        p {
          margin-bottom: 1em;
        }
      }
      .section4-img {
        width: 100%;
      }
    }
  }
}
